# Insert Into Table

In [1]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost", user="root", password="password", database="pysql")

cursor = mydb.cursor()


sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")

cursor.execute(sql, val)

mydb.commit()

print(cursor.rowcount, "record inserted.")

1 record inserted.

# Insert Multiple Rows

In [5]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost", user="root", password="password", database="pysql")

cursor = mydb.cursor()



sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

cursor.executemany(sql, val)

mydb.commit()

print(cursor.rowcount, "record inserted.")

13 record inserted.

# Get Inserted ID

In [7]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost", user="root", password="password", database="pysql")

cursor = mydb.cursor()


sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Jennifer", "Poplar Avenue 22")

cursor.execute(sql, val)

mydb.commit()

print(cursor.rowcount, "record inserted, ID:", cursor.lastrowid)

1 record inserted, ID: 0