In [2]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost", 
                               user="root", 
                               password="password",
                               database="pysql")

cursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE name='Amy'"

cursor.execute(sql)

result = cursor.fetchall()

for row in result:
    print(row)

('Amy', 'Apple st 652')